<!DOCTYPE html>
<meta charset="utf-8">

<h1>学習室の予約</h1>

<div class="tabs">
    <input id="all" type="radio" name="tab_item" checked>
    <label class="tab_item" for="all">学習室A</label>
    <input id="programming" type="radio" name="tab_item">
    <label class="tab_item" for="programming">学習室B</label>
    <input id="design" type="radio" name="tab_item">
    <label class="tab_item" for="design">学習室C</label>
    <div class="tab_content" id="all_content">
        学習室Aの内容がここに入ります
    </div>
    <div class="tab_content" id="programming_content">
        学習室Bの内容がここに入ります
    </div>
    <div class="tab_content" id="design_content">
        学習室Cの内容がここに入ります
    </div>
</div>
